/*
 * Common Vars
 */

/* *********************** Main ************************ */

$desktop-min-width: 836px
$desktop-max-width: $desktop-min-width - 1
$desktop-width-container: $desktop-min-width - 1
$tablet-min-width: 641px
$tablet-width-container: $tablet-min-width - 1
$mobile-max-width: $tablet-min-width - 1


/* ********************* Colors ************************ */

$color-background: #f6f6f6
$color-text: #282828
$color-note: #ce2c52
$color-heading: #2c303d
$color-link: #2c87ce
$color-star: #ababab
$color-star-active: $color-note
$color-button: #ffffff
$color-button-active: $color-heading
$color-button-hover: 0.5
$color-button-special: #8ae6cf
$color-border: rgba(0, 0, 0, 0.72)
$color-border-fallback: #000000


/* ********************* Fonts ********************** */

@font-face
  font-family: 'Open Sans Regular'
  src: url('/public/fonts/OpenSans-Regular.eot')
  src: url('/public/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/public/fonts/OpenSans-Regular.woff2') format('woff2'), url('/public/fonts/OpenSans-Regular.woff') format('woff'), url('/public/fonts/OpenSans-Regular.ttf') format('truetype')
@font-face
  font-family: 'Open Sans Bold'
  src: url('/public/fonts/OpenSans-Bold.eot')
  src: url('/public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('/public/fonts/OpenSans-Bold.woff2') format('woff2'), url('/public/fonts/OpenSans-Bold.woff') format('woff'), url('/public/fonts/OpenSans-Bold.ttf') format('truetype')
@font-face
  font-family: 'Open Sans Light'
  src: url('/public/fonts/OpenSans-Light.eot')
  src: url('/public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('/public/fonts/OpenSans-Light.woff2') format('woff2'), url('/public/fonts/OpenSans-Light.woff') format('woff'), url('/public/fonts/OpenSans-Light.ttf') format('truetype')
@font-face
  font-family: 'Oswald Bold'
  src: url('/public/fonts/Oswald-Bold.eot')
  src: url('/public/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'), url('/public/fonts/Oswald-Bold.woff2') format('woff2'), url('/public/fonts/Oswald-Bold.woff') format('woff'), url('/public/fonts/Oswald-Bold.ttf') format('truetype')


$font-regular: 'Open Sans Regular', Verdana, Arial, sans-serif
$font-bold: 'Open Sans Bold', Verdana, Arial, sans-serif
$font-light: 'Open Sans Light', Verdana, Arial, sans-serif
$font-bold-special: 'Oswald Bold', Verdana, Arial, sans-serif

$font-size-22: 22px
$font-size-20: 20px
$font-size-18: 18px
$font-size-16: 16px
$font-size-14: 14px
$font-size-12: 12px
$font-size-10: 10px


/* ******************** Base value ***************** */

$gap: 10px
$default-border-radius: 50%
$size-border: 1px
$border: $color-border solid $size-border